@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'normal';
  src: url('/fuentes/Formula1-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titulos';
  src: url('/fuentes/Formula1-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nombres';
  src: url('/fuentes/Formula1-Wide.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.dorado {
  color: gold; /* Para texto dorado */
}

.plateado {
  color: silver;
}

.bronze {
  color: #cd7f32; /* El color del bronce para el texto */
}